<template>
  <div id="app">
    <am-wrapper></am-wrapper>
  </div>
</template>

<script>
import amWrapper from "./views/wrapper";
import AOS from "aos";


export default {
  name: 'App',
  props: {},
  data() {
    return {
      title: "",
    }
  },
  components: {
    amWrapper
  },
  computed: {},
  methods: {},
  watch: {},
  async updated() {
    await AOS.init(
        {
          // Global settings:
          disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
          startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
          initClassName: 'aos-init', // class applied after initialization
          animatedClassName: 'aos-animate', // class applied on animation
          useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
          disableMutationObserver: false, // disables automatic mutations' detections (advanced)
          debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
          throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


          // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
          offset: 300, // offset (in px) from the original trigger point
          delay: 0, // values from 0 to 3000, with step 50ms
          duration: 700, // values from 0 to 3000, with step 50ms
          easing: 'ease', // default easing for AOS animations
          once: false, // whether animation should happen only once - while scrolling down
          mirror: false, // whether elements should animate out while scrolling past them
          anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
        }
    )
  },
  async mounted() {
    await AOS.init(
        {
          // Global settings:
          disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
          startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
          initClassName: 'aos-init', // class applied after initialization
          animatedClassName: 'aos-animate', // class applied on animation
          useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
          disableMutationObserver: false, // disables automatic mutations' detections (advanced)
          debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
          throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


          // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
          offset: 300, // offset (in px) from the original trigger point
          delay: 0, // values from 0 to 3000, with step 50ms
          duration: 700, // values from 0 to 3000, with step 50ms
          easing: 'ease', // default easing for AOS animations
          once: false, // whether animation should happen only once - while scrolling down
          mirror: false, // whether elements should animate out while scrolling past them
          anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
        }
    )
  },
  async created() {
     await AOS.init(
        {
          // Global settings:
          disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
          startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
          initClassName: 'aos-init', // class applied after initialization
          animatedClassName: 'aos-animate', // class applied on animation
          useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
          disableMutationObserver: false, // disables automatic mutations' detections (advanced)
          debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
          throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


          // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
          offset: 300, // offset (in px) from the original trigger point
          delay: 0, // values from 0 to 3000, with step 50ms
          duration: 700, // values from 0 to 3000, with step 50ms
          easing: 'ease', // default easing for AOS animations
          once: false, // whether animation should happen only once - while scrolling down
          mirror: false, // whether elements should animate out while scrolling past them
          anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
        }
    )
  }

}
</script>

<style>
@import 'assets/css/animations.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
#app{
}
ul{
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.w_100{
  width: 100%;
}
.w_50{
  width: 50%;
}
.row_start{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.row_end{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.mr_20proc{

}


.br{
  /*border: 1px solid #000000;*/
}
.brr{
  /*border: 1px solid red;*/
}
.br2{
  /*border: 1px solid greenyellow;*/
}
.rower{
  display: flex;
  flex-direction: row;
}
.columer{
  display: flex;
  flex-direction: column;
}

.mrRow-20{
  margin: 0 20px;
}
.mainBtn{
  border-radius: 8px;
}
.background{
  overflow: hidden;
}
.img_quote img {
  width: 100%;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-Regular.eot');
  src: url('assets/fonts/CirceRounded-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CirceRounded-Regular.woff2') format('woff2'),
  url('assets/fonts/CirceRounded-Regular.woff') format('woff'),
  url('assets/fonts/CirceRounded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Rounded 2';
  src: url('assets/fonts/CirceRounded-Regular2.eot');
  src: url('assets/fonts/CirceRounded-Regular2.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CirceRounded-Regular2.woff2') format('woff2'),
  url('assets/fonts/CirceRounded-Regular2.woff') format('woff'),
  url('assets/fonts/CirceRounded-Regular2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Rounded Alt';
  src: url('assets/fonts/CirceRoundedAlt-Regular2.eot');
  src: url('assets/fonts/CirceRoundedAlt-Regular2.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CirceRoundedAlt-Regular2.woff2') format('woff2'),
  url('assets/fonts/CirceRoundedAlt-Regular2.woff') format('woff'),
  url('assets/fonts/CirceRoundedAlt-Regular2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Rounded 1';
  src: url('assets/fonts/CirceRounded-Regular_1.eot');
  src: url('assets/fonts/CirceRounded-Regular_1.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CirceRounded-Regular_1.woff2') format('woff2'),
  url('assets/fonts/CirceRounded-Regular_1.woff') format('woff'),
  url('assets/fonts/CirceRounded-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Rounded 3';
  src: url('assets/fonts/CirceRounded-Regular3.eot');
  src: url('assets/fonts/CirceRounded-Regular3.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CirceRounded-Regular3.woff2') format('woff2'),
  url('assets/fonts/CirceRounded-Regular3.woff') format('woff'),
  url('assets/fonts/CirceRounded-Regular3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Rounded 4';
  src: url('assets/fonts/CirceRounded-Regular4.eot');
  src: url('assets/fonts/CirceRounded-Regular4.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CirceRounded-Regular4.woff2') format('woff2'),
  url('assets/fonts/CirceRounded-Regular4.woff') format('woff'),
  url('assets/fonts/CirceRounded-Regular4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe Rounded 5';
  src: url('assets/fonts/CirceRounded-Regular5.eot');
  src: url('assets/fonts/CirceRounded-Regular5.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CirceRounded-Regular5.woff2') format('woff2'),
  url('assets/fonts/CirceRounded-Regular5.woff') format('woff'),
  url('assets/fonts/CirceRounded-Regular5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

</style>
