<template>
  <div class="lending">

    <mainer
        :isWindowMobile="windowMobile"
    ></mainer>
    <div class="hidden">
      <recommendation
      :isWindowMobile="windowMobile"
      ></recommendation>

      <forwhom
          :isWindowMobile="windowMobile"
      ></forwhom>

      <advantages
          :isWindowMobile="windowMobile"
      ></advantages>

      <reviews
          :isWindowMobile="windowMobile"
      ></reviews>

      <complectation
          :isWindowMobile="windowMobile"
      ></complectation>

      <tworecommendation
          :isWindowMobile="windowMobile"
      ></tworecommendation>

      <howtoget
          :isWindowMobile="windowMobile"
      ></howtoget>

      <answers
          :isWindowMobile="windowMobile"
      ></answers>
    </div>

  </div>
</template>

<script>
import mainer from "@/views/user/1_main/main";
import recommendation from "@/views/user/2_recommendation/recommendation";
import forwhom from "@/views/user/3_forwhom/forwhom";
import advantages from "@/views/user/4_advantages/advantages";
import reviews from "@/views/user/5_reviews/reviews";
import complectation from "@/views/user/6_complectation/complectation";
import tworecommendation from "@/views/user/7_recommendation/tworecommendation";
import howtoget from "@/views/user/8_howtoget/howtoget";
import answers from "@/views/user/9_answers/answers";

export default {
  name: "",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {},
  data() {
    return {
      title: "",

    }
  },
  components: {
    mainer,
    recommendation,
    forwhom,
    advantages,
    reviews,
    complectation,
    tworecommendation,
    howtoget,
    answers,
  },
  computed: {
    windowMobile(){
      let windowWidth = window.screen.width;
      if (windowWidth <= 600) {
        return true
      }
      if (windowWidth >= 601) {
        return false
      }
    }
  },
  methods: {
    async isWindowMobile() {
      let windowWidth = window.screen.width;
      if (windowWidth <= 600) {
        this.windowMobile = true;
      }
      console.log(this.windowMobile)
    }
  },
  watch: {},
  async mounted() {
  },
  async created() {

  }
}
</script>

<style scoped>
.lending {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
}

.hidden {
  display: none;
  flex-direction: column;
  max-width: 100% !important;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .hidden {
    display: flex;
  }
}


</style>