<template>
  <div id="9" class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 br">
          <div class="mainBlock">

            <div class="right br">
              <h3 class="title"
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
              >Рунет в коробке</h3>
              <h2 class="subtitle"
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-delay="50"
              >
                Профессиональный российский GSM роутер
              </h2>
              <p class="text"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="150"
              >
                Если у вас имеются дополнительные вопросы можете задать их нашим специалистам в форме ниже, либо
                заказать обратный звонок.
              </p>

              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="150"
              >
                <div id="contact-form" class="form-container">
                  <form id="form">
                    <div class="form-items">
                      <div class="form-control">
                        <div class="button-holders">Ваше имя</div>
                        <input type="text" name="name" required="required" autocomplete="off"/>
                      </div>
                      <div class="form-control">
                        <div class="button-holders">Ваш телефон</div>
                        <input type="text" name="phone" required="required" autocomplete="off"/>
                      </div>
                      <div class="form-control">
                        <div class="button-holders">Ваш email</div>
                        <input type="text" name="email" required="required" autocomplete="off"/>
                      </div>
                      <div class="form-control form-control_message">
                        <div class="button-holders">Задайте свой вопрос</div>
                        <textarea name="message" id="" cols="30" rows="5"></textarea>
                      </div>

                    </div>
                    <button id="submit" type="submit"
                            class=" btn btn-primary mainBtn rotateRight"
                    >Отправить мой вопрос
                    </button>
                  </form>
                  <h1 id="success-msg"></h1>
                </div>
              </div>

              <div class="contactsBlock"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="250"
              >
                <div class="contactsBlock_title">Наши контакты:</div>
                <div class="contactsBlock_item">
                  <i class="item_icon fas fa-map-marker-alt"></i>
                  <p class="item_title">Адрес:</p>
                  <p class="item_value">г. Москва, 7-ой Ростовский пер., д 17</p>
                </div>
                <div class="contactsBlock_item">
                  <i class="item_icon fas fa-phone-alt"></i>
                  <p class="item_title">Телефон:</p>
                  <a class="item_value" href="tel:+79627051111">8 (962) 705-11-11</a>
                </div>
                <div class="contactsBlock_item">
                  <i class="item_icon fa fa-envelope"></i>
                  <p class="item_title">Электронная почта:</p>
                  <a class="item_value" href="mailto:dm@a-wifi.ru">dm@a-wifi.ru</a>
                </div>
              </div>

            </div>

            <div class="left br">
              <div
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-delay="150"
              >
                <img class="mainImg" src="../../../assets/images/9_answers/main_img.png" alt="mainImg">
              </div>

              <img src="../../../assets/images/9_answers/message.png" alt="message" class="message"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="250"
              >
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import linePoints from '@/components/linePoints'

export default {
  name: "mainPage",
  // metaInfo: {
  //    : '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {
    linePoints
  },
  computed: {},
  methods: {
    async formItemActive() {
      let formItems = document.querySelectorAll(".form-control");
      // console
      formItems.forEach((item) => {
        item.addEventListener("click", () => {
          item.style.justifyContent = "space-between ";
          item.style.border = "2px solid #e07e25";
          // item.childNodes[0].innerHTML += ":";
          item.childNodes[1].style.display = "initial";

        })
      })
    }
  },
  watch: {},
  async mounted() {
    await this.formItemActive();
  },
  async created() {
    await this.formItemActive();
  }
}
</script>

<style scoped>


.col-sm-12 {
  padding: 0;
}

.background {
  background-image: url("../../../assets/images/3_forwhom/arrowhead.png"), url("../../../assets/images/3_forwhom/leftArrow.png"), url("../../../assets/images/3_forwhom/rightArrow.png"), url("../../../assets/images/3_forwhom/bg11.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center bottom, -10px 350px, 102% 100px, left -40px !important;
  background-size: 100% 100%, 40% 50%, 40% 80%, 100% 150% !important;
}


.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 90px;
  min-height: 100vh;
}

.title {
  font-size: 42px;
  line-height: 50px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.subtitle {
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  color: #06225e;
  font-family: "Circe Rounded";
}

.text {
  font-size: 18px;
  line-height: 20px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;
  padding: 15px;
  width: 450px;
  max-width: 100%;
  border-bottom: 5px solid #a49fd3;
}

.contactsBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*margin-bottom: 20px;*/
}


.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*padding-top: 50px;*/
  position: relative;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  font-family: "Circe Rounded";
  background: rgb(49, 128, 212);
  background: linear-gradient(0deg, rgba(49, 128, 212, 1) 0%, rgba(136, 123, 253, 1) 100%);
  border: 0;
  width: 101%;
  margin-left: 3.5%;
}

.btnBlock {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.rotateRight {
  transform: perspective(450px) rotateY(10deg) !important;
}

.mainImg {
  width: 80%;
}

.message {
  position: absolute;
  width: 60%;
  top: 26%;
  /*right: 35%;*/
}

h3 {
  margin: 0;
}

.subtitle span {

}

/*FORM*/
.form-control {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 5px 50px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-holders {
  text-align: center;
}

.form-control:focus {
  border: 2px solid #e07e25;
}

input, textarea {
  outline: none;
  border: 0;
  margin-left: 10px;
  color: #000;
  font-weight: bold;
  line-height: 16px;
  font-family: "Circe Rounded";
  background: #ffffff;
  text-align: center;

}


.form-control input, textarea {
  display: none;
}

textarea {
  width: 100%;
  text-align: start;
}

.form-control_message {
  min-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.contactsBlock_title {
  font-size: 24px;
  line-height: 26px;
  color: #06225e;
  font-family: "Circe Rounded";
  margin-left: 30px;
  /*margin-bottom: 10px;*/
  font-weight: bold;
}

.contactsBlock_item, .contactsBlock_item a, .contactsBlock_item p {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 18px;
  line-height: 28px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.item_icon {
  color: #617deb;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_title {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 0;
}

.item_value {
  margin-bottom: 0;
}


@-webkit-keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1540px) and (max-width: 3600px) {
  .container{
    /*width: 100% !important;*/
    /*max-width: 60%;*/
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
  /*.mainBlock{*/
  /*  padding-right: 10%;*/
  /*}*/
  /*.left {*/
  /*  width: 65%;*/
  /*  padding-top: 50px;*/
  /*  position: relative;*/
  /*}*/
  .message {
    top: 25%;
    right: -60%;
  }

  .mainImg {
    height: 80vh;
    width: auto;
    margin-left: 10%;
  }
  .title {
    /*font-size: 42px;*/
    /*line-height: 70px;*/
    font-size: 72px;
    line-height: 70px;
    color: #06225e;
    font-family: "Circe Rounded";
  }

  .subtitle {
    /*font-size: 72px;*/
    /*line-height: 70px;*/
    font-size: 42px;
    line-height: 70px;
    color: #06225e;
    font-family: "Circe Rounded";
  }
  .text {
    font-size: 32px;
    line-height: 40px;
    color: #06225e;
    font-family: "Circe Rounded";
  }

}

@media screen and (min-width: 601px) and (max-width: 1499px) {

  .background {
    background-position: center bottom, center bottom;
    background-size: 100% 80%, 100% 100%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 3500px) {

  .background {
    background-position: center bottom, center bottom;
    background-size: 45% 80%, 100% 100%;
  }
}

@media screen and (min-width: 250px) and (max-width: 600px) {

  .background {
    background-position: center bottom, center bottom;
    background-position: center bottom, -10px 350px, 102% 100px, left -70px !important;
    background-size: 400% 100%, 100% 100%;
  }

  .mainBlock {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    padding-top: 100px;
  }

  .mainImg {
    margin: 0 auto;
  }

  .left {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .right {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px;
  }

  .title {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }

  .subtitle {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
  }

  input {
    outline: none;
    border: 0;
    margin-left: 10px;
    color: #000;
    font-weight: bold;
    line-height: 16px;
    font-family: "Circe Rounded";
    background: #ffffff;
    text-align: center;
    max-width: 85%;
  }

  textarea {
    outline: none;
    border: 0;
    margin-left: 10px;
    color: #000;
    font-weight: bold;
    line-height: 16px;
    font-family: "Circe Rounded";
    background: #ffffff;
    width: 120%;
  }

  .contactsBlock_item, .contactsBlock_item a, .contactsBlock_item p {
    flex-wrap: wrap;
    font-size: 16px;
  }

}

</style>