<template>
  <div id="6" class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="mainBlock "
               data-aos="fade-up"
               data-aos-anchor-placement="center-bottom"
               data-aos-delay="100"
          >

            <h1 class="title "
                data-aos="fade-up"
                data-aos-anchor-placement="center-bottom"
            >Комплектация Рунет в коробке</h1>

            <div class="center center_arrow_bg">

              <i class="fas fa-plus circle circle__pitanie"></i>
              <i class="fas fa-plus circle circle__router"></i>
              <i class="fas fa-plus circle circle__antenna"></i>


              <div class="reverse">
                <div class="w_100 row_end"
                     data-aos="fade-up"
                     data-aos-anchor-placement="center-bottom"
                     data-aos-delay="200"
                >
                  <div class="textBox textBox__right2">
                    <i class="fas fa-chevron-right circle circle_left"></i>
                    <p class="textBox_title">Блок питания</p>
                    <p class="textBox_text">
                      Работает от стандартного источника питания с напряжением 9-36В в машине или от обычной розетки
                    </p>
                  </div>
                </div>
                <div class="w_100 row_end textBox__right2"
                     data-aos="fade-up"
                     data-aos-anchor-placement="center-bottom"
                     data-aos-delay="300"
                >
                  <a href="static/runetinbox.docx"  >
                    <img class="file_link" src="./../../../assets/images/6_complectation/file_link.png" alt="">
                  </a>

                </div>
              </div>

              <div class="w_50 row_start"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="400"
              >
                <div class="textBox textBox__left">
                  <i class="fas fa-chevron-left circle circle_right"></i>
                  <p class="textBox_title">Антенна MIMO</p>
                  <p class="textBox_text">
                    Дополнительно в комплект входят две активных антенны MIMO, которые обеспечивают надежный интернет в
                    местах со слабым сигналом или отдаленных от вышек связи
                  </p>
                </div>
              </div>

              <div class="w_50 row_end"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="400"
              >
                <div class="textBox textBox__right">
                  <i class="fas fa-chevron-right circle circle_left"></i>
                  <p class="textBox_title">Роутер 3G / 4G (LTE)</p>
                  <p class="textBox_text">
                    Обеспечивает высокой скоростью передачи данных: входящая до, исходящая до 50Мбит/с. Вход для
                    SIM-карта: стандартная (MINI SIM)
                  </p>
                </div>
              </div>


            </div>
            <div class="bottom br"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="500"
            >
              <router-link class=" btn btn-primary mainBtn rotateLeft"
                           v-if="isWindowMobile == false"
                           tag="button"
                           :to="{name: 'tworecommendation'}"
              >
                Узнать про доставку
              </router-link>
              <a href="#7" class=" btn btn-primary mainBtn rotateLeft"
                 v-else-if="isWindowMobile == true"
              >Узнать про доставку</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {},
  computed: {},
  methods: {},
  watch: {},
  async mounted() {

  },
  async created() {

  }
}
</script>

<style scoped>
.background {
  background-image: url("../../../assets/images/2_recommendation/bg2.png"), url("../../../assets/images/2_recommendation/bg1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center top;
  background-size: 100% 100%, 100% 100% !important;
}

h1 {
  margin: 0;
}

.mainBlock {
  width: 1170px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  min-height: 100vh;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  line-height: 46px;
  color: #06225e;
  font-family: "Circe Rounded";
  background-image: url("../../../assets/images/3_forwhom/zagogul.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.center {
  width: 100%;
  /*height: 700px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  background-image: url("../../../assets/images/6_complectation/arrow_for_pitanie.png"),
  url("../../../assets/images/6_complectation/arrow_for_router.png"),
  url("../../../assets/images/6_complectation/arrow_antenna.png"),
  url("../../../assets/images/6_complectation/complectation.png"),
  url("../../../assets/images/6_complectation/runet_in_box.png");
  background-repeat: no-repeat,
  no-repeat,
  no-repeat,
  no-repeat,
  no-repeat;
  background-position: 62% 13%,
  67% 62%,
  35% 69%,
  center 160px,
  100px top;
  background-size: 22% 43%,
  12% 10%,
  12% 10%,
  43% 60%,
  50% 60%;
}
.reverse{
  width: 100%;
}

.textBox {
  width: 250px;
  /*height: 220px;*/
  border-radius: 20px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 5px solid #c1a386;
}

.textBox__left {
  margin-left: 15%;
}

.textBox__right {
  margin-right: 15%;
}

.textBox__right2 {
  margin-right: 8%;
}

.circle {
  width: 42px;
  height: 42px;
  background: #fff;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  padding: 10px;
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #9a96bf;
}

.circle_left {
  left: -21px;
}

.circle_right {
  right: -21px;
}

.file_link {
  cursor: pointer;
}

.circle__pitanie {

}

.circle__router {
  top: 250px;
  right: 430px;
}

.circle__antenna {
  top: 330px;
  left: 450px;
}

.textBox_title {
  font-size: 22px;
  letter-spacing: -1px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.textBox_text {
  font-size: 14px;
  color: #06225e;
  font-family: "Circe Rounded";
  margin: 0;
}


.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 0;
  padding: 10px 10px 10px 20px;

  font-size: 20px;
  color: #ffffff;
  font-family: "Circe Rounded";
  margin-left: -30px;
  width: 300px;
  background: rgb(48, 102, 210);
  background: linear-gradient(0deg, rgba(48, 102, 210, 1) 0%, rgba(71, 128, 241, 1) 100%);
}

.rotateLeft {
  transform: perspective(450px) rotateY(-25deg) !important;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .title {
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 15px;
    text-align: center;
  }
  .center {
    background-image: url("../../../assets/images/6_complectation/arrow_for_pitanie.png"),
    url("../../../assets/images/6_complectation/arrow_for_router.png"),
    url("../../../assets/images/6_complectation/arrow_antenna.png");
    background-position: 62% 13%,
    67% 62%,
    35% 69%;
    background-size: 22% 43%,
    12% 10%,
    12% 10%;
  }
  .center{
    flex-direction: column-reverse;
  }

  .fa-plus {
    display: none;
  }

  .w_100 {
  justify-content: center;
  }

  .w_50 {
    width: 100%;
    justify-content: center;
  }
  .textBox__left{
    margin: 0;
  }
  .textBox__right{
    margin: 0;
  }
  .textBox__right2{
    margin: 0;
  }
  .textBox {
    margin-bottom: 20px !important;
  }
  .bottom {
    /*font-size: 24px;*/
    /*color: #ffffff;*/
    /*font-family: "Circe Rounded";*/
    /*margin: 15px auto;*/
    /*margin-left: 11%;*/
    padding: 30px;
  }

}
</style>