<template>
  <div class="admin-layout">
    <div class="header ">
    </div>
    <div class="content ">
            <router-view></router-view>
    </div>
    <div class="footer ">
    </div>
  </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'


    export default {
        name: "admin-layout",
        props: {},
        data() {
            return {
                title: "",
                errorMessage: ""
            }
        },
        components: {
        },
        computed: {
            ...mapGetters([
            ]),
        },
        methods: {
            ...mapActions([
            ]),

        },
        watch: {},
        async mounted() {

        },
        async created() {

        }
    }
</script>

<style scoped>
    * {
        margin: 0;
        padding: 0;
    }

</style>
