<template>

  <div class="main-layout"
       @wheel="changeRoute()"
  >
    <div class="header br">
      <div class="header_left brr">
        <router-link class=""
                     tag="div"
                     :to="{name: 'lending'}"
        >
          <img :src="require('../assets/images/1_main/logo.png')" alt="логотип" class="logo"
               data-aos="fade-down"
               data-aos-easing="linear"
               data-aos-duration="400"
          >
        </router-link>
      </div>

      <div class="header_center brr">
        <router-link class="nawItem"
                     tag="p"
                     :to="{name: 'recommendation'}"
        >
          <div data-aos="fade-down"
               data-aos-easing="linear"
               data-aos-duration="500">
            Об&nbsp;устройстве
          </div>
        </router-link>
        <router-link class="nawItem"
                     tag="p"
                     :to="{name: 'advantages'}"
        >
          <div data-aos="fade-down"
               data-aos-easing="linear"
               data-aos-duration="600">
            Преимущества
          </div>
        </router-link>
        <router-link class="nawItem"
                     tag="p"
                     :to="{name: 'reviews'}"
        >
          <div data-aos="fade-down"
               data-aos-easing="linear"
               data-aos-duration="700">
            Отзывы
          </div>
        </router-link>
        <router-link class="nawItem"
                     tag="p"
                     :to="{name: 'complectation'}"
        >
          <div data-aos="fade-down"
               data-aos-easing="linear"
               data-aos-duration="800">
            Комплектация
          </div>
        </router-link>
        <router-link class="nawItem"
                     tag="p"
                     :to="{name: 'howtoget'}"
        >
          <div data-aos="fade-down"
               data-aos-easing="linear"
               data-aos-duration="900">
            Доставка
          </div>
        </router-link>
      </div>

      <div class="header_right brr">
        <div class="blockPhone"
             data-aos="fade-down"
             data-aos-easing="linear"
             data-aos-duration="950"
        >
          <div class="blockPhone_wrapCol mrRow-20 br">
<!--            <p class="blockPhone_title">Телефон&nbsp;для&nbsp;связи:</p>-->
            <div class="blockPhone_icon"></div>
            <div class="blockPhone_wrapRow br"
                 @click="payFormOpen()"
            >
              <i class="fas fa-shopping-cart blockPhone_icon2"></i>
              <a href="#" class="blockPhone_phone">КУПИТЬ</a>
<!--              <img class="blockPhone_icon" src="../assets/images/1_main/phone-call.png" alt="phone_icon">-->
<!--              <a href="tel:+74993507578" class="blockPhone_phone">8 499 350-75-78</a>-->
            </div>
          </div>
        </div>

        <button class="btn btnCallBack"
                data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1000"
                @click="callbackOpen()"
        >Обратный звонок
        </button>
        <div class="burgerBtn"
             @click="burgerActive = !burgerActive"
        >
          <button class="menu"
                  onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                  aria-label="Main Menu">
            <svg width="70" height="70" viewBox="0 0 100 100">
              <path class="line line1"
                    d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
              <path class="line line2" d="M 20,50 H 80"/>
              <path class="line line3"
                    d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="burgerMenu"
           v-if="burgerActive"
      >
        <a href="#2" class="burgerMenu_link"
           @click="burgerActive = !burgerActive"
        >Об устройстве</a>

        <a href="#4" class="burgerMenu_link"
           @click="burgerActive = !burgerActive"
        >Преимущества</a>

        <a href="#5" class="burgerMenu_link"
           @click="burgerActive = !burgerActive"
        >Отзывы</a>

        <a href="#6" class="burgerMenu_link"
           @click="burgerActive = !burgerActive"
        >Комплектация</a>

        <a href="#8" class="burgerMenu_link"
           @click="burgerActive = !burgerActive"
        >Доставка</a>

        <div class="burgerMenu_contacts">
          <div class="burgerMenu_blockPhone">
            <div class="blockPhone_wrapCol mrRow-20 br">
<!--              <p class="blockPhone_title">Телефон&nbsp;для&nbsp;связи:</p>-->
              <div class="blockPhone_icon"></div>
              <div class="blockPhone_wrapRow br"
                   @click="payFormOpen()"
              >
                <i class="fas fa-shopping-cart blockPhone_icon2"></i>
                <a href="#" class="blockPhone_phone">КУПИТЬ</a>
<!--                <img class="blockPhone_icon" src="../assets/images/1_main/phone-call.png" alt="phone_icon">-->
<!--                <a href="tel:+74993507578" class="blockPhone_phone">8 499 350-75-78</a>-->
              </div>
            </div>
          </div>
          <div class="burgerMenu_blockAddress">
            <p class="textRignts">
              2021. Все права защищены
            </p>
            <p class="textAddress">
              Адрес: г.Москва, 7-ой Ростовский пер.,д 17
            </p>
            <p class="textEmail">
              Электронная почта: dm@a-wifi.ru
            </p>
          </div>
        </div>
      </div>


    </div>
    <div class="content ">
      <router-view></router-view>
      <!--            linePoints-->
      <line-points
          :currentRout="currentRout"
      ></line-points>
    </div>
    <div class="footer ">

    </div>

    <callback></callback>
    <pay-form></pay-form>
  </div>

</template>

<script>
import {mapGetters} from 'vuex'
import linePoints from '@/components/linePoints'
import callback from '@/components/callback'
import payForm from '@/components/payForm'

export default {
  name: "main-layout",
  props: {},
  data() {
    return {
      burgerActive: false,
      currentRout: "lending",
      mapRoutes:{
        up_down: [
          {
            from: "lending",
            to: "recommendation",
          },
          {
            from: "recommendation",
            to: "forwhom",
          },
          {
            from: "forwhom",
            to: "advantages",
          },
          {
            from: "advantages",
            to: "reviews",
          },
          {
            from: "reviews",
            to: "complectation",
          },
          {
            from: "complectation",
            to: "tworecommendation",
          },
          {
            from: "tworecommendation",
            to: "howtoget",
          },
          {
            from: "howtoget",
            to: "answers",
          },
        ],
        down_up: [
          {
            from: "answers",
            to: "howtoget",
          },
          {
            from: "howtoget",
            to: "tworecommendation",
          },
          {
            from: "tworecommendation",
            to: "complectation",
          },
          {
            from: "complectation",
            to: "reviews",
          },
          {
            from: "reviews",
            to: "advantages",
          },
          {
            from: "advantages",
            to: "forwhom",
          },
          {
            from: "forwhom",
            to: "recommendation",
          },
          {
            from: "recommendation",
            to: "lending",
          },
        ],
      }
    }
  },
  components: {
    linePoints,
    callback,
    payForm
  },
  computed: {
    ...mapGetters([]),
    isWindowMobile() {
      let windowWidth = window.screen.width;
      if (windowWidth <= 600) {
        return true
      }
      if (windowWidth >= 601) {
        return false
      }
    }

  },
  methods: {
    callbackOpen() {
      let callback = document.querySelector('.callBack');
      callback.style.display = 'flex';
    },
    payFormOpen() {
      let callback = document.querySelector('.payForm');
      callback.style.display = 'flex';
    },


    changeRoute() {
      let windowWidth = window.screen.width;
      if (windowWidth >= 601) {

        let routes = this.$router.getRoutes();
        let currentRout = this.$router.currentRoute.name;
        if(event.deltaY < 0){
          this.mapRoutes.down_up.forEach((item)=>{
            if(item.from == currentRout){
              this.$router.push({name: item.to});
            }
          })
          return
        }else{
          this.mapRoutes.up_down.forEach((item)=>{
            if(item.from == currentRout){
              this.$router.push({name: item.to});
            }
          })
          return
        }
      }
    }
  },
  watch: {
    burgerActive() {
      let menu = document.querySelector('.menu');
      if (this.burgerActive == false) {
        menu.classList.remove('opened');
      }
    },
    currentRout() {
      console.log(this.currentRout)
      return this.currentRout
    }
  },
  async mounted() {
    // this.closeBurger();
  },
  async updated() {

  },
  async created() {

  },
  beforeDestroy() {

  }
}
</script>

<style scoped>

.show {
  display: flex;
}

.hide {
  display: none;
}

.main-layout {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #06225e;
  font-family: "Circe Rounded";
}


.header {
  width: 1800px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  /*height: 90px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
}

.header_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*width: 25%;*/
}

.logo {
  cursor: pointer;
}

.header_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 50%;
}

.nawItem {
  margin: 0;
  cursor: pointer;
}


.header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.blockPhone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 26px;
  color: #374d7e;
  font-family: "Circe Rounded";
}

.blockPhone_wrapRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blockPhone_wrapCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockPhone_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.blockPhone_icon {
  margin-right: 20px;
}
.blockPhone_icon2 {
  margin-right: 5px;
}

.blockPhone_phone {
  font-size: 16px;
  line-height: 26px;
  color: #374d7e;
  font-family: "Circe Rounded";
  text-decoration: none;
  min-width: 115px;
}

.btnCallBack {
  width: 200px;
  height: 50px;
  background: rgb(228, 118, 0);
  background: linear-gradient(0deg, rgba(228, 118, 0, 1) 0%, rgba(237, 174, 107, 1) 100%);
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Circe Rounded";
}

.btnCallBack:active {
  background: rgb(237, 174, 107) !important;
  background: linear-gradient(0deg, rgba(237, 174, 107, 1) 0%, rgba(228, 118, 0, 1) 100%) !important;
}

.content {
  width: 100%;
  position: relative;
}

.burgerBtn {
  display: none;
  width: 70px;
  height: 70px;
  background-color: #06225e;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .header_left {
    display: none;
  }

  .header_right {
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #a2b1da;
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(25px);
  }

  .burgerBtn {
    display: flex;
  }

  .header_center {
    display: none;
  }

  .blockPhone {
    display: none;
  }

  .burgerMenu_blockPhone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #a2b1da;
    border-bottom: 1px solid #a2b1da;
    padding: 23px 0;
  }

  .blockPhone_title {
    font-size: 18px;
    line-height: 30px;
    color: #374d7e;
  }

  .blockPhone_phone {
    font-size: 18px;
    line-height: 30px;
    color: #374d7e;
  }

  .btnCallBack {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }


  .burgerMenu {
    position: absolute;
    top: 70px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(30px);
  }

  .burgerMenu_contacts {
    width: 100%;
  }

  .burgerMenu_link {
    font-size: 22px;
    line-height: 70px;
    color: #06225e;
    font-family: "Circe Rounded";
    cursor: pointer;
    padding-left: 40px;
  }

  .burgerMenu_blockAddress {
    padding: 23px 0;
  }

  .burgerMenu_blockAddress p {
    color: #06225e;
    font-family: "Circe Rounded";
    text-align: center;
    margin: 0;
  }
}

</style>
