<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 br">
        <div class="mainBlock">

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {},
  data() {
    return {
      title: "",
    }
  },
  components: {},
  computed: {},
  methods: {},
  watch: {},
  async mounted() {

  },
  async created() {

  }
}
</script>

<style scoped>
.shablon {

}

</style>