<template>
    <div class="wrapper-router">
        <component :is="layout">
            <router-view></router-view>
        </component>
    </div>
</template>

<script>
import emptyLayout from '../layouts/empty-layout'
import mainLayout from '../layouts/main-layout'
import adminLayout from '../layouts/admin-layout'

    export default {
        name: "wrapper",
        props: {},
        data() {
            return {
                title: "",
            }
        },
        components: {
          emptyLayout,
          mainLayout,
          adminLayout
        },
        computed: {
            layout(){
                return  (this.$route.meta.layout || 'empty') + '-layout';
            }
        },
        methods: {},
        watch: {},
        mounted() {

        }
    }
</script>

<style scoped>
.wrapper-router{
}
</style>