<template>
  <div id="3" class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 br">
          <div class="mainBlock br">

            <h1 class="title br"
                data-aos="fade-up"
                data-aos-anchor-placement="center-bottom"
                data-aos-delay="100"
            >Для кого подойдёт Рунет в коробке</h1>

            <div class="center br">
              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="200"
              >
                <img class="card_image" src="../../../assets/images/3_forwhom/dom.png" alt="card_image">
                <h2 class="card_title">Для загородного дома</h2>
                <p class="card_text">
                  Комплект оборудования для качественного доступа к интернету 3G/4G за городом, на даче, а также в иных
                  местах с недостаточным качеством покрытия сети
                </p>
              </div>
              <div class="card card_centers"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="300"
              >
                <img class="card_image" src="../../../assets/images/3_forwhom/car.png" alt="card_image">
                <h2 class="card_title">Для поездок в автомобиле</h2>
                <p class="card_text">
                  Поездка теперь не будет скучной. С постоянным доступом в интернет во время путешествий в машине или в
                  автобусе, пассажиры не будут скучать, а дети поглощены своим любимым контентом
                </p>
              </div>
              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="400"
              >
                <img class="card_image centerFon" src="../../../assets/images/3_forwhom/booth.png" alt="card_image">
                <h2 class="card_title">Для мобильных офисов</h2>
                <p class="card_text">
                  Бесперебойный канал выхода в интернет обеспечит надежную работу мобильных офисов, находящиеся вне
                  общего поля доступа связи
                </p>
              </div>
            </div>
            <div class="bottom br"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="500"
            >
              <router-link class=" btn btn-primary mainBtn rotateRight"
                           v-if="isWindowMobile == false"
                           tag="button"
                           :to="{name: 'advantages'}"
              >
                Какие наши преимущества?
              </router-link>
              <a href="#4" class=" btn btn-primary mainBtn rotateRight"
                 v-else-if="isWindowMobile == true"
              >Какие наши преимущества?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {},
  computed: {},
  methods: {},
  watch: {},
  async mounted() {

  },
  async created() {

  }
}
</script>

<style scoped>
.background {
  background-image: url("../../../assets/images/3_forwhom/arrowhead.png"), url("../../../assets/images/3_forwhom/leftArrow.png"), url("../../../assets/images/3_forwhom/rightArrow.png"), url("../../../assets/images/3_forwhom/bg11.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center bottom, -10px 350px, 102% 100px, left -30px;
  background-size: 100% 100%, 40% 50%, 40% 80%, 100% 150%;
}

h1 {
  margin: 0;
}

.mainBlock {
  width: 1170px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  min-height: 100vh;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  line-height: 70px;
  color: #06225e;
  font-family: "Circe Rounded";
  background-image: url("../../../assets/images/3_forwhom/zagogul.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.card {
  width: 20%;
  height: 350px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;
  border-bottom: 5px solid #a49fd3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  margin: 0 20px;
}

.card_centers {
  height: 365px
}

.card_image {
  width: 120%;
  height: 50%;
  position: absolute;
  top: 0;
  left: -5%;
  right: -10%;
}
.card_centers .card_image{
  width: 150%;
  height: auto;
  top: -10%;
  left: -40%;
}
.centerFon{
  width: 110%;
  left: -5%;
  right: -5%;
}

.card_title {
  font-size: 24px;
  font-weight: 600;
  color: #06225e;
  font-family: "Circe Rounded";
  text-align: center;
  position: relative;
}

.card_text {
  font-size: 14px;
  line-height: 16px;
  color: #06225e;
  font-family: "Circe Rounded";
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 7% 7% 7%;
  margin: 0;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}


.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(203,146,58);
  background: linear-gradient(0deg, rgba(203,146,58,1) 0%, rgba(238,179,117,1) 100%);
  border: 0;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;

  font-size: 20px;
  color: #ffffff;
  font-family: "Circe Rounded";
  margin-left: -30px;

  width: 300px;
}

.rotateRight {
  transform: perspective(450px) rotateY(-25deg) !important;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .background {
    background-image: url("../../../assets/images/3_forwhom/arrowhead.png"), url("../../../assets/images/3_forwhom/leftArrow.png"), url("../../../assets/images/3_forwhom/rightArrow.png"), url("../../../assets/images/3_forwhom/bg11.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center bottom, -10px 350px, 102% 100px, left -70px;
    background-size: 100% 100%, 40% 50%, 40% 80%, 200% 150%;
  }
  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .title {
    font-size: 32px;
    line-height: 40px;
    padding: 15px 0;
    text-align: center;
  }
  .card {
    width: 98%;
    height: 400px;
     margin: 10px 0;
  }

}
</style>