<template>

  <div id="1" class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="mainBlock">
            <div class="left "
            >
              <div class="left_top "
              >


                <div data-aos="fade-up">
                  <div class=" btn btn-primary mainBtn rotateRight"
                       data-aos="fade-up"
                       data-aos-anchor-placement="center-bottom"
                  >
                    <div data-aos="fade-up"
                         data-aos-anchor-placement="center-bottom">
                      Оставайтесь
                    </div>
                  </div>
                </div>

                <h1 class="titleForBtn"
                    data-aos="fade-up"
                    data-aos-anchor-placement="center-bottom"
                    data-aos-delay="100"
                >
                  на связи <br>
                  в любой <br>
                  точке страны
                </h1>
              </div>
              <div class="left_bottom "
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="300"
              >
                <p class="textRignts">
                  2021. Все права защищены
                </p>
                <p class="textAddress">
                  Адрес: г.Москва, 7-ой Ростовский пер.,д 17
                </p>
                <p class="textEmail">
                  Электронная почта: dm@a-wifi.ru
                </p>
              </div>
            </div>
            <div class="right">
              <router-link  class="img_quote"
                            data-aos="fade-up"
                            data-aos-anchor-placement="center-bottom"
                            data-aos-delay="300"
                            v-if="isWindowMobile == false"
                            tag="div"
                            :to="{name: 'recommendation'}"
              >
                <img :src="require('../../../assets/images/1_main/message.png')" alt="quote">
              </router-link>
              <div
                  v-else-if="isWindowMobile == true"
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-delay="300"
              >
                <a class="linker" href="#2"
                >
                  <img  :src="require('../../../assets/images/1_main/message.png')" alt="message">
                </a>
              </div>

              <div
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-delay="300"
              >
                <img class="img_mainImage bottomTop" src="../../../assets/images/1_main/mainImage.png" alt="mainImage">
              </div>
            </div>

            <!--           circle-->
            <router-link class="scrollDown " :src="require('../../../assets/images/1_main/scrollDown.png')"
                         alt="scrollDown"
                         data-aos="fade-up"
                         data-aos-anchor-placement="center-bottom"
                         data-aos-delay="300"
                         v-if="isWindowMobile == false"
                         tag="img"
                         :to="{name: 'complectation'}"
            ></router-link>
            <a href="#6"
               v-else-if="isWindowMobile == true"
            >
              <img class="scrollDown " :src="require('../../../assets/images/1_main/scrollDown.png')" alt="scrollDown"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="300"
              >
            </a>
            <img class="scrollDown_circle " src="../../../assets/images/1_main/scrollDown_circle.png"
                 alt="scrollDown_circle"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="300"
            >
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>


export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {},
  computed: {},
  methods: {},
  watch: {},
  async mounted() {
    await console.log(this.isWindowMobile)

  },
  async created() {

  }
}
</script>

<style scoped>
.background {
  background-image: url("../../../assets/images/1_main/bg2.png"), url("../../../assets/images/1_main/bg1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center bottom;
  background-size: 100% 80%, 100% 100%;
}

.bottomTop-enter-active, .bottomTop-leave-active {
  transition: all 1s;
}

.bottomTop-enter, .bottomTop-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}

.mainBlock {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-top: 130px;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}


.img_mainImage {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.img_quote {
  width: 40%;
  position: absolute;
  top: 10%;
  right: -13%;
  z-index: 10;
  cursor: pointer;
}

.left_top {
  margin-bottom: 17%;
  width: 65%;
}

.left_top, h1 {
  font-size: 58px;
  line-height: 66px;
  color: #ffffff;
  font-family: "Circe Rounded 5";
}

.mainBtn {
  width: 400px;
  font-size: 58px;
  line-height: 66px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  background: #4077e7;
  cursor: default !important;
}

.mainBtn:active {
  background: #4077e7 !important;
}

.rotateRight {
  transform: perspective(650px) rotateY(30deg) !important;
}


.titleForBtn {
  color: #06225e;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.left_bottom {
  width: 66%;
  margin-bottom: 50px;
}

.left_bottom p {
  font-size: 14px;
  line-height: 20px;
  color: #5f729a;
  font-family: "Circe Rounded 5";
  margin: 0;
}

.bottom {
  position: absolute;

}

.scrollDown {
  position: absolute;
  top: 75%;
  width: 12%;
  z-index: 10;
  cursor: pointer;
}

.scrollDown_circle {
  position: absolute;
  top: 70.2%;
  width: 18%;
  animation: circle 4s infinite linear;
  cursor: pointer;
}



@-webkit-keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=============================zzzzzzzzzzzzzz============================*/
.left {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.img_quote img {
  width: 80%;
}


@media screen and (min-width: 1440px) and (max-width: 3600px) {
  .container{
    max-width: 80%;
  }

  .img_mainImage {
    height: 80vh;
    width: auto;
  }

  .background {
    background-image: url("../../../assets/images/1_main/bg2.png"), url("../../../assets/images/1_main/bg1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 70% bottom, center bottom;
    background-size: 140% 90%, 100% 100%;
  }

  .left_top, h1 {
    font-size: 58px;
    font-size: 200%;
    line-height: 66px;
    color: #ffffff;
    font-family: "Circe Rounded 5";
  }

}

@media screen and (min-width: 250px) and (max-width: 600px) {

  .background {
    background-image: url("../../../assets/images/1_main/bg2.png"), url("../../../assets/images/1_main/bg1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center bottom;
    background-size: 250% 50%, 100% 100%;
  }

  .mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 100px;
  }

  .left {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .right {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
  }

  .left_top {
    margin-bottom: 5%;
    width: 100%;
  }

  .mainBtn {
    width: 115%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-left: 10px;
    background: #4077e7;
    font-size: 48px;
    line-height: 56px;
  }

  .titleForBtn {
    font-size: 38px;
    line-height: 46px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .img_quote {
    width: 60%;
    position: absolute;
    left: 20%;
    top: -15%;
  }

  .left_bottom {
    display: none;
  }

  .scrollDown {
    top: 85%;
    width: 20%;
    left: 40%;
  }

  .scrollDown_circle {
    top: 83%;
    width: 30%;
    left: 35%;
  }

}

</style>