.bottomTop-enter-active, .bottomTop-leave-active{
    transition: all 1s;
    transform: translateY(-100px);
    opacity: 0;
}
.bottomTop-enter, .bottomTop-leave-to {
    transform: translateY(-100px);
    opacity: 0;
}
