<template>
  <div class="callBack">

    <div class="card"
         data-aos="fade-up"
         data-aos-anchor-placement="center-bottom"
         data-aos-delay="150"
    >
      <i id="formClose" class="fas fa-times"
         @click="callbackClose()"
      ></i>

      <div id="contact-form" class="form-container">
        <form id="form"
              @submit.prevent="sendCallback">
          <div class="form-items">
            <p class="callback_title">
              Обратный звонок
            </p>
            <p class="callback_subtitle">
              Оставьте свои данные и наш менеджер
              свяжется с вами в ближайшее время
            </p>
            <div id="buttonHoldersName" class="form-control">
              <div  class="button-holders">Ваше имя</div>
              <input id="inputName" type="text" name="name" required="required" autocomplete="off"
                     v-model.trim="name"
                     :class="{invalid: (
                           $v.name.$dirty && !$v.name.required ||
                           !$v.name.minLength ||
                           !$v.name.maxLength),
                           valid: (
                               $v.name.required && $v.name.minLength && $v.name.maxLength
                            )}"
              >
            </div>

            <div id="buttonHoldersPhone" class="form-control">
              <div class="button-holders">Ваш телефон</div>
              <input id="inputPhone" type="text" name="phone" required="required" autocomplete="off"
                     v-model.trim="phone"
                     :class="{invalid: (
                           $v.phone.$dirty && !$v.phone.required ||
                           !$v.phone.minLength ||
                           !$v.phone.maxLength),
                           valid: (
                               $v.phone.required && $v.phone.minLength && $v.phone.maxLength
                            )}"
              />
            </div>
            <!--            =======ANTISPAM=====-->
            <div class="form-control-antispam">
              <div class="col-sm-6">
                <label for="callBackCaptcha" class="form-check-label">Антиспам проверка</label>
                <div class="form-group">
                  <input id="callBackCaptcha"
                         type="text"
                         name="captcha"
                         class="form-control"
                         placeholder=""
                         required="required"
                         @click="antispamFieldClick"
                  >
                </div>
              </div>
            </div>

          </div>
          <button id="submit" type="submit"
                  class=" btn mainBtn rotateRight"
          >Отправить заявку
          </button>
        </form>
        <h1 id="error-msg" v-if="errorMessage != ''" >
          {{errorMessage}}
        </h1>
        <h1 id="success-msg" v-if="successMessage != ''" >
          {{successMessage}}
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import {maxLength, minLength, required} from 'vuelidate/lib/validators'

export default {
  name: "callBack",

  props: {},
  data() {
    return {
      errorMessage: '',
      successMessage: '',

      title: "",
      name: '',
      phone: '',
      antispam: 0

    }
  },
  validations: {
    name: {required, minLength: minLength(2), maxLength: maxLength(30)},
    phone: {required, minLength: minLength(11), maxLength: maxLength(30)},
    antispam: {required, minLength: minLength(1), maxLength: maxLength(2)},
  },
  components: {},
  computed: {},
  methods: {
    ...mapActions([
      "SEND_CALLBACK"
    ]),
    async sendCallback() {
      this.errorMessage = '';
      this.successMessage = '';

      if (this.$v.$invalid) {
        this.$v.$touch()
        console.log(this.$v)
        this.errorMessage = 'Не верный формат введенных данных'
        return
      }

      let formData = {
        name: this.name,
        phone: this.phone,
        antispam: this.antispam,
      }

      let captcha = Number(document.querySelector("#callBackCaptcha").value);
      let captchaSum = Number(localStorage.getItem('captchaSum'));
      let captchaValidate = captcha === captchaSum;
      await console.log("captcha:", captcha)
      await console.log("captchaSum:", captchaSum)
      await console.log("captchaValidate:", captchaValidate)


      if(captchaValidate){
        let success_msg = document.querySelector("#success-msg");
        success_msg.style.border = "1px solid green !important"
        success_msg.style.color = "green !important"
        this.successMessage = 'Запрос отправлен';

        let promise = this.SEND_CALLBACK(formData);
        promise.then((res) => {

          if (promise) {
            console.log(res);


            setTimeout(()=>{
              this.callbackClose();
            }, 2500)
          } else {
            console.log(res);


            this.errorMessage = ''
            this.errorMessage = res
          }

        });

      }else{
        this.errorMessage = 'Антиспам не пройден'
      }


    },
    async formItemActive() {
      let formItems = document.querySelectorAll(".form-control");
      // console
      formItems.forEach((item) => {
        item.addEventListener("click", () => {
          item.style.justifyContent = "space-between ";
          item.style.border = "2px solid #e07e25";
          // item.childNodes[0].innerHTML += ":";
          item.childNodes[1].style.display = "initial";

        })
      })
    },
    callbackClose() {
      let callback = document.querySelector('.callBack');
      callback.style.display = 'none';
    },

    async antispamFieldInit(){
      let inputCaptcha = document.getElementById("callBackCaptcha");
      let numberOne = await Math.floor(Math.random() * 9) + 1;
      let numberTwo = await Math.floor(Math.random() * 9) + 1;
      let captchaSum =  numberOne + numberTwo;
      await localStorage.setItem('numberOne', numberOne);
      await localStorage.setItem('numberTwo', numberTwo);
      await localStorage.setItem('captchaSum', captchaSum);

      inputCaptcha.placeholder = `Введите сумму чисел ${numberOne} + ${numberTwo}`;
    },
    antispamFieldClick(){
      let inputCaptcha = document.getElementById("callBackCaptcha");
      inputCaptcha.value = '';
      inputCaptcha.placeholder = `Введите сумму чисел ${localStorage.getItem("numberOne")} + ${localStorage.getItem("numberTwo")}`;
      this.errorMessage = '';
    },
    buttonHoldersClick(){
      let buttonHoldersName = document.getElementById("buttonHoldersName");
      let buttonHoldersPhone = document.getElementById("buttonHoldersPhone");
      let inputName = document.getElementById("inputName");
      let inputPhone = document.getElementById("inputPhone");

      buttonHoldersName.addEventListener("click", ()=>{
        this.errorMessage = '';
        inputName.focus();
      })
      buttonHoldersPhone.addEventListener("click", ()=>{
        this.errorMessage = '';
        inputPhone.focus();
      })
    }
  },
  watch: {},
  async mounted() {
    await this.formItemActive();
  },
  async created() {
    await this.formItemActive();
    await this.antispamFieldInit();
    await this.buttonHoldersClick();
  }
}
</script>

<style scoped>
/*============validation===============*/
.invalid {
  background: #FDC9C9;
  border: 1px solid red
}

.valid {
  background: #C0FFB6;

}

.callBack {
  position: fixed;
  width: 100%;
  height: 100vh;
  border: 10px solid black;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.fa-times {
  color: silver;
  position: absolute;
  top: 12px;
  right: 15px;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;
  padding: 20px;
  width: 450px;
  max-width: 100%;
  border-bottom: 5px solid #a49fd3;
  margin-bottom: 20px;
}

/*FORM*/
.form-control {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 50px;
  justify-content: center;
  cursor: pointer;
}

.button-holders {
  text-align: center;
}

.form-control:focus {
  border: 2px solid #e07e25;
}

input, textarea {
  outline: none;
  border: 0;
  margin-left: 10px;
  color: #000;
  font-weight: bold;
  line-height: 16px;
  font-family: "Circe Rounded";
  background: #ffffff;
  text-align: center;
}

.form-control input, textarea {
  display: none;
}

textarea {
  width: 100%;
  text-align: start;
}

p {
  text-align: center;
  font-family: "Circe Rounded";
}

.callback_title {
  font-weight: bold;
  font-size: 30px;
  color: #06225e;
}

.callback_subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #06225e;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  font-family: "Circe Rounded";
  background: rgb(228, 118, 0);
  background: linear-gradient(0deg, rgba(228, 118, 0, 1) 0%, rgba(237, 174, 107, 1) 100%);
  border: 0;
  width: 101%;
  margin-left: 3.5%;
  margin-top: 10px !important;
}

.mainBtn:active {
  background: rgb(237, 174, 107) !important;
  background: linear-gradient(0deg, rgba(237, 174, 107, 1) 0%, rgba(228, 118, 0, 1) 100%) !important;
}

.rotateRight {
  transform: perspective(450px) rotateY(10deg) !important;
}

/*=========ANTISPAM======*/
.form-group {
  box-shadow: 0px 0px 3px rgb(2 143 204);
  color: #000000 !important;
}
.form-control-antispam {
  background-color: transparent;
  font-size: 14px;
  border-color: rgba(2, 143, 204,.5);
}
#callBackCaptcha{
  /*box-sizing: border-box;*/
  font-family: inherit;
  font-size: 12px !important;
  font-weight: 400 ;
  padding: 6px 7px;
  font-size: 14px;
  line-height: 1.42857143;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
}
#error-msg{
  box-sizing: border-box;
  border: 2px solid red;
  color: red;
  background: rgba(255, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  padding: 5px 10px;
  margin-top: 10px;
}
#success-msg{
  box-sizing: border-box;
  border: 2px solid green;
  color: green;
  background: rgba(139, 234, 7, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  padding: 5px 10px;
  margin-top: 10px;
}
@media screen and (min-width: 250px) and (max-width: 600px) {
  .form-control{
    justify-content: center !important;
  }
  .button-holders{
    font-size: 12px;
  }
  .card[data-v-c6b57c56] {
    padding: 10px;
  }
}


</style>