<template>
  <!--  <div class="linePoints">-->
  <!--    <a href="#1">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#2">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#3">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#4">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#5">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#6">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#7">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#8">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--    <a href="#9">-->
  <!--      <div class="point"></div>-->
  <!--    </a>-->
  <!--  </div>-->

  <div class="linePoints">
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'lending'}"
    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'recommendation'}"

    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'forwhom'}"
                 @click="ifChangeRout(2)"
    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'advantages'}"
    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'reviews'}"
    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'complectation'}"
    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'tworecommendation'}"
    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'howtoget'}"
    >
      <div class="point"></div>
    </router-link>
    <router-link class="wrapPoint"
                 tag="p"
                 :to="{name: 'answers'}"
    >
      <div class="point"></div>
    </router-link>
  </div>


</template>

<script>
export default {
  name: "",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    numberPage: {
      type: Number,
      default() {
        return 1;
      }
    },
  },
  data() {
    return {
      title: "",
      newNumberPage: 0,
      colorMap: {
        1: {
          colorPoint: '#a9afe4',
          colorActivePoint: '#858aba',
        },
        2: {
          colorPoint: '#e2b287',
          colorActivePoint: '#b28964',
        },
        3: {
          colorPoint: '#a9afe4',
          colorActivePoint: '#858aba',
        },
        4: {
          colorPoint: '#b4d5ad',
          colorActivePoint: '#84a67c',
        },
        5: {
          colorPoint: '#a9afe4',
          colorActivePoint: '#858aba',
        },
        6: {
          colorPoint: '#e2b287',
          colorActivePoint: '#b28964',
        },
        7: {
          colorPoint: '#a9afe4',
          colorActivePoint: '#858aba',
        },
        8: {
          colorPoint: '#b4d5ad',
          colorActivePoint: '#84a67c',
        },
        9: {
          colorPoint: '#a9afe4',
          colorActivePoint: '#858aba',
        },
      },
    }
  },
  components: {},
  computed: {
    currentRout(){
      return this.$router.currentRoute.name
    }
  },
  methods: {
    async changePoints(numberPage, colorPoint, colorActivePoint) {
      let points = await document.querySelectorAll('.point');
      let nawItems = await document.querySelectorAll('.wrapPoint');
      points.forEach((point, index, array) => {

        if (index + 1 == numberPage) {

          point.classList.add('pointActive');
          point.style.transition = '0.3s';
          point.style.background = `${colorActivePoint}`;
        } else if (index + 1 != numberPage) {
          if (point.classList.contains('pointActive')) {
            point.classList.remove('pointActive');
          }
          point.style.transition = '0.3s';
          point.style.background = `${colorPoint}`;
        }
      });
      // nawItems.forEach((item, index, array) => {
      //
      //   if (index + 1 == numberPage) {
      //     console.log(index + 1)
      //     console.log(item.childNodes[0])
      //     item.childNodes[0].classList.add('pointActive');
      //     item.childNodes[0].style.transition = '1s';
      //     item.childNodes[0].style.background = `${colorActivePoint}`;
      //   } else if (index + 1 != numberPage) {
      //     if (item.childNodes[0].classList.contains('pointActive')) {
      //       item.childNodes[0].classList.remove('pointActive');
      //     }
      //     console.log("not: ", index + 1)
      //     item.childNodes[0].style.transition = '1s';
      //     item.childNodes[0].style.background = `${colorPoint}`;
      //   }
      // });
    },
    async clickPoint(index) {
      let points = await document.querySelectorAll('.point');
      let nawItems = await document.querySelectorAll('.wrapPoint');
      points.forEach((point, index, array) => {
        point.addEventListener('click', () => {
          this.newNumberPage = index + 1;
          this.changePoints(
              this.newNumberPage,
              this.colorMap[this.newNumberPage].colorPoint,
              this.colorMap[this.newNumberPage].colorActivePoint
          );
        })
      });
      nawItems.forEach((item, index, array) => {
        item.addEventListener('click', () => {
          this.newNumberPage = index + 1;
          this.changePoints(
              this.newNumberPage,
              this.colorMap[this.newNumberPage].colorPoint,
              this.colorMap[this.newNumberPage].colorActivePoint
          );
        })
      });
    },
    async ifChangeRout(numberPage) {
      let points = await document.querySelectorAll('.point');
      points.forEach((point, index, array) => {
        numberPage = index + 1;
          this.changePoints(
              this.newNumberPage,
              this.colorMap[this.newNumberPage].colorPoint,
              this.colorMap[this.newNumberPage].colorActivePoint
          );
      });
    },

    async setColorForPoints() {
      if (this.numberPage == 1) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 2) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 3) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 4) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 5) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 6) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 7) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 8) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
      if (this.numberPage == 9) {
        await this.changePoints(
            this.numberPage,
            this.colorMap[this.numberPage].colorPoint,
            this.colorMap[this.numberPage].colorActivePoint
        );
      }
    }
  },
  watch: {
    $route (to, from){
      let routName = this.$router.currentRoute.name
      if(routName == 'lending'){
        this.newNumberPage = 1;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'recommendation'){
        this.newNumberPage = 2;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'forwhom'){
        this.newNumberPage = 3;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'advantages'){
        this.newNumberPage = 4;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'reviews'){
        this.newNumberPage = 5;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'complectation'){
        this.newNumberPage = 6;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'tworecommendation'){
        this.newNumberPage = 7;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'howtoget'){
        this.newNumberPage = 8;
        return this.ifChangeRout(this.newNumberPage);
      }
      if(routName == 'answers'){
        this.newNumberPage = 9;
        return this.ifChangeRout(this.newNumberPage);
      }

    }
  },
  async mounted() {
    await this.setColorForPoints()
    await this.clickPoint()

  },
  async updated() {

  },
  async created() {
  }
}
</script>

<style scoped>
.linePoints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 80px;
  top: calc(50% - 160px)
}

p {
  margin: 0;
}

.wrapPoint {
  width: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2px 0;
}

.point {
  transition: 1s;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: 9px 0;
  cursor: pointer;
}

.pointActive {
  transition: 1s;
  height: 42px;
  border-radius: 5px 5px 5px 5px;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .linePoints {
    display: none;
  }
}

</style>