<template>
  <div class="payForm">

    <div class="card"
         data-aos="fade-up"
         data-aos-anchor-placement="center-bottom"
         data-aos-delay="150"
    >
      <i id="formClose" class="fas fa-times"
         @click="payFormClose()"
      ></i>

      <div id="contact-form" class="form-container">
        <form id="form" class="formZakaz" name="TinkoffPayForm" onsubmit="pay(this); return false;">
          <div class="form-items">
            <p class="payForm_title">
              Покупка комплекта
            </p>
            <p class="payForm_subtitle">
              Данные для связи и получения заказа
            </p>

            <input class="tinkoffPayRow" type="hidden" name="terminalkey"
                   value="1627981315210DEMO">

            <input class="tinkoffPayRow" type="hidden" name="frame" value="false">

            <input class="tinkoffPayRow" type="hidden" name="language" value="ru">

            <input class="tinkoffPayRow" type="hidden" name="reccurentPayment"
                   value="false">

            <input class="tinkoffPayRow" type="hidden" name="customerKey"
                   value="ri6n04qo18d94r65">

            <input class="tinkoffPayRow" type="hidden" name="amount" value="17000">

            <input id="inputReceipt" class="tinkoffPayRow" type="hidden" name="receipt"
                   value=''>

            <div class="form-control form-control_cost">
              <div class="button-holders button-holders_cost" style="width: 100px">Сумма заказа</div>
              <input type="text" name="view" placeholder="17000 рублей"
                     style="text-align: center" disabled autocomplete="off"/>
            </div>
            <div class="form-control">
              <div class="button-holders">Ваше имя</div>
              <input type="text" name="name" required="required" autocomplete="off"/>
            </div>
            <div class="form-control">
              <div class="button-holders">Ваш телефон</div>
              <input type="text" name="phone" required="required" autocomplete="off"/>
            </div>
            <div class="form-control">
              <div class="button-holders">Ваш email</div>
              <input type="text" name="phone" required="required" autocomplete="off"/>
            </div>

          </div>
          <button id="submit" type="submit"
                  class=" btn mainBtn rotateRight"
          >Оплатить
          </button>
        </form>
        <h1 id="success-msg"></h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "payForm",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {},
  data() {
    return {
      title: "",

    }
  },
  components: {},
  computed: {},
  methods: {
    async formItemActive() {
      let formItems = document.querySelectorAll(".form-control");
      // console
      formItems.forEach((item) => {
        item.addEventListener("click", () => {
          item.style.justifyContent = "space-between ";
          item.style.border = "2px solid #e07e25";
          // item.childNodes[0].innerHTML += ":";
          item.childNodes[1].style.display = "initial";

        })
      })
    },
    payFormClose() {
      let payForm = document.querySelector('.payForm');
      payForm.style.display = 'none';
    }
  },
  watch: {},
  async mounted() {
    await this.formItemActive();
  },
  async created() {
    await this.formItemActive();
  }
}
</script>

<style scoped>
.payForm {
  position: fixed;
  width: 100%;
  height: 100vh;
  border: 10px solid black;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.fa-times {
  color: silver;
  position: absolute;
  top: 12px;
  right: 15px;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;
  padding: 20px;
  width: 450px;
  max-width: 100%;
  border-bottom: 5px solid #a49fd3;
  margin-bottom: 20px;
}

/*FORM*/
.form-control {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 50px;
  justify-content: center;
  cursor: pointer;
}

.button-holders {
  text-align: center;
}

.form-control:focus {
  border: 2px solid #e07e25;
}
.form-control_cost{
  justify-content: space-between !important;
}
.form-control_cost input{
  display: initial !important;
}

input, textarea {
  outline: none;
  border: 0;
  margin-left: 10px;
  color: #000;
  font-weight: bold;
  line-height: 16px;
  font-family: "Circe Rounded";
  background: #ffffff;
  text-align: center;
}

.form-control input, textarea {
  display: none;
}

textarea {
  width: 100%;
  text-align: start;
}

p {
  text-align: center;
  font-family: "Circe Rounded";
}

.payForm_title {
  font-weight: bold;
  font-size: 30px;
  color: #06225e;
}

.payForm_subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #06225e;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  font-family: "Circe Rounded";
  background: rgb(228,118,0);
  background: linear-gradient(0deg, rgba(228,118,0,1) 0%, rgba(237,174,107,1) 100%);
  border: 0;
  width: 101%;
  margin-left: 3.5%;
  margin-top: 10px !important;
}
.mainBtn:active {
  background: rgb(237,174,107)!important;
  background: linear-gradient(0deg, rgba(237,174,107,1) 0%, rgba(228,118,0,1) 100%)!important;
}

.rotateRight {
  transform: perspective(450px) rotateY(10deg) !important;
}

</style>