<template>
  <div id="7" class="background">

    <!--    <div class="container">-->
    <!--      <div class="row">-->
    <!--        <div class="col-sm-12 br">-->
    <div class="mainBlock">
      <div class="left ">
        <div
            data-aos="fade-up"
            data-aos-anchor-placement="center-bottom"
            data-aos-delay="150"
        >
        <img class="mainImg" src="../../../assets/images/7_recommendation/main_img.png" alt="mainImg"

        >
        </div>
        <img src="../../../assets/images/7_recommendation/message.png" alt="message" class="message"
             data-aos="fade-up"
             data-aos-anchor-placement="center-bottom"
             data-aos-delay="300"
        >
      </div>

      <div class="right ">
        <h3 class="title"
            data-aos="fade-up"
            data-aos-anchor-placement="center-bottom"
        >Условия доставки</h3>
        <h2 class="subtitle"
            data-aos="fade-up"
            data-aos-anchor-placement="center-bottom"
            data-aos-delay="50"
        >
          Рунет в коробке
        </h2>
        <p class="text"
           data-aos="fade-up"
           data-aos-anchor-placement="center-bottom"
           data-aos-delay="150"
        >
          Предзаказ, сроки изготовления и доставка, в зависимости от количества товара и наличия на складе (от 5 до 7
          рабочих дней)
        </p>
        <p class="text"
           data-aos="fade-up"
           data-aos-anchor-placement="center-bottom"
           data-aos-delay="150"
        >
          Если у вас имеются дополнительные вопросы можете задать их нашим специалистам в форме ниже, либо заказать
          обратный звонок.
        </p>

        <div class="card"
             data-aos="fade-up"
             data-aos-anchor-placement="center-bottom"
             data-aos-delay="250"
        >
          <div class="card_top rower">
            <img class="discountImg" src="../../../assets/images/7_recommendation/discount.png" alt="discount">
            <div class="card_left mrl-20">
              <div class="cardTop_title">Цена комплекта</div>
              <div class="cardTop_cost">17 000 руб</div>
            </div>
            <div class="card_right mrl-20">
              <div class="cardTop_title cardTop_title__old">Старая цена</div>
              <div class="cardTop_cost oldCost">19 500 руб</div>
            </div>
          </div>
          <div class="card_bottom">
            <p class="bottom_title">
              РУНЕТ в коробке - профессиональный
              российский GSM роутер
            </p>
            <p class="bottom_text">
              Комплект оборудования для качественного доступа к интернета 3G/4G за городом, на даче, а также в иных
              местах с недостаточным качеством покрытия сети.
            </p>
          </div>
        </div>

        <div class="btnBlock rower br"
             data-aos="fade-up"
             data-aos-anchor-placement="center-bottom"
             data-aos-delay="300"
        >
          <router-link class=" btn btn-primary mainBtn_answer rotateRight"
                       v-if="isWindowMobile == false"
                       tag="button"
                       :to="{name: 'answers'}"
          >
            Задать вопрос
          </router-link>
          <a href="#9" class=" btn btn-primary mainBtn_answer rotateRight"
             v-else-if="isWindowMobile == true"
          > Задать вопрос</a>

          <router-link class="btn mainBtn_callback rotateLeft"
                       v-if="isWindowMobile == false"
                       tag="button"
                       :to="{name: 'howtoget'}"
          >
            Как получить?
          </router-link>
          <a href="#8" class="btn mainBtn_callback rotateLeft"
             v-else-if="isWindowMobile == true"
          >Как получить?</a>
        </div>

      </div>

    </div>
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

  </div>
</template>

<script>
import linePoints from '@/components/linePoints'

export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {
    linePoints
  },
  computed: {},
  methods: {
    callbackOpen() {
      let callback = document.querySelector('.callBack');
      callback.style.display = 'flex';
    }
  },
  watch: {},
  async mounted() {

  },
  async created() {

  }
}
</script>

<style scoped>
p {
  margin: 0;
}

.background {
  background-image: url("../../../assets/images/3_forwhom/arrowhead.png"), url("../../../assets/images/3_forwhom/leftArrow.png"), url("../../../assets/images/3_forwhom/rightArrow.png"), url("../../../assets/images/3_forwhom/bg11.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center bottom, -10px 350px, 102% 100px, left -40px !important;
  background-size: 100% 100%, 40% 50%, 40% 80%, 100% 150% !important;
}

.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.right {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.mainBtn_answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 5px 20px 5px 30px;
  font-size: 24px;
  color: #ffffff;
  font-family: "Circe Rounded";
  background: rgb(48, 102, 210);
  background: linear-gradient(0deg, rgba(48, 102, 210, 1) 0%, rgba(70, 127, 240, 1) 100%);
  border: 0;
}

.mainBtn_callback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 5px 20px 5px 30px;
  font-size: 24px;
  color: #ffffff;
  font-family: "Circe Rounded";
  background: rgb(224, 126, 37);
  background: linear-gradient(0deg, rgba(224, 126, 37, 1) 0%, rgba(229, 204, 125, 1) 100%);
  border: 0;
}

.mainBtn_callback:active {
  background: rgb(237, 174, 107) !important;
  background: linear-gradient(0deg, rgba(237, 174, 107, 1) 0%, rgba(228, 118, 0, 1) 100%) !important;
}

.rotateLeft {
  transform: perspective(450px) rotateY(-20deg) !important;
}

.rotateRight {
  transform: perspective(450px) rotateY(20deg) !important;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  max-width: 100%;
  border-bottom: 5px solid #a49fd3;
}

.card_top {
  margin-bottom: 20px;
}

.discountImg {
  width: 40px;
  height: 40px;
}

.card_left {
  padding-right: 5px;
  border-right: 3px solid #bcbcbc;
}

.cardTop_title {
  font-size: 16px;
  line-height: 20px;
  color: #06225e;
  font-family: "Circe Rounded";

}

.cardTop_title__old {
  font-size: 14px;
}

.mrl-20 {
  margin-left: 20px;
}

.cardTop_cost {
  font-size: 20px;
  line-height: 22px;
  color: #06225e;
  font-family: "Circe Rounded";
  margin: 0;
  font-weight: 600;
  letter-spacing: 2px;
}

.oldCost {
  color: #bcbcbc;
  font-family: "Circe Rounded";
  text-decoration: line-through;
  font-weight: 600;
}

.bottom_title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  color: #06225e;
  font-family: "Circe Rounded";
  margin-bottom: 20px;
}

.bottom_text {
  font-size: 16px;
  line-height: 20px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.btnBlock {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.mainImg {
  width: 60%;
  display: flex;
    margin: 0 auto;
}

.message {
  position: absolute;
  top: 29%;
  right: 20%;
}

h3 {
  margin: 0;
}

.title {
  font-size: 32px;
  line-height: 40px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.subtitle {
  font-size: 46px;
  line-height: 50px;
  color: #06225e;
  font-family: "Circe Rounded";
  margin-bottom: 0;
}

.subtitle span {

}

.text {
  font-size: 22px;
  line-height: 24px;
  color: #06225e;
  font-family: "Circe Rounded";
  margin: 5px 0;
}

.text strong {

}


@-webkit-keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1540px) and (max-width: 3600px) {
  /*.container{*/
  /*  width: 100% !important;*/
  /*  padding-left: 0 !important;*/
  /*  padding-right: 0 !important;*/
  /*}*/
  /*.mainBlock{*/
  /*  padding-right: 10%;*/
  /*}*/
  /*.left {*/
  /*  width: 65%;*/
  /*  padding-top: 50px;*/
  /*  position: relative;*/
  /*}*/
  /*.message {*/
  /*  top: 15%;*/
  /*  right: 10%;*/
  /*  width: 25%;*/
  /*}*/

  .mainImg {
    height: 80vh;
    width: auto;
  }
  .title {
    font-size: 42px;
    line-height: 70px;
    color: #06225e;
    font-family: "Circe Rounded";
  }

  .subtitle {
    /*margin-bottom: 65px;*/
    font-size: 72px;
    line-height: 70px;
    color: #06225e;
    font-family: "Circe Rounded";
  }
  .text {
    font-size: 32px;
    line-height: 40px;
    color: #06225e;
    font-family: "Circe Rounded";
  }

}


@media screen and (min-width: 601px) and (max-width: 1499px) {

  .background {
    background-position: center bottom, center bottom;
    background-size: 100% 80%, 100% 100%;
  }
}

@media screen and (min-width: 1500px) and (max-width: 3500px) {

  .background {
    background-position: center bottom, center bottom;
    background-size: 45% 80%, 100% 100%;
  }
}

@media screen and (min-width: 250px) and (max-width: 600px) {

  .background {
    background-position: center bottom, center bottom;
    background-position: 102% 100px, left -60px !important;
    background-size: 400% 100%, 100% 100%;
  }

  .mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /*padding-top: 100px;*/
  }

  .left {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .right {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px;
  }

  .mainImg {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .message {
    position: absolute;
    top: 29%;
    right: 3%;
    width: 60%;
    height: auto;
  }

  .title {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }

  .subtitle {
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 10px;
  }

  .btnBlock {
    max-width: 100%;
    justify-content: center;
  }

  .mainBtn_answer {
    padding: 5px 10px 5px 20px;
    font-size: 18px;
  }

  .mainBtn_callback {
    padding: 5px 10px 5px 20px;
    font-size: 18px;
  }
}

</style>