<template>
  <div id="5" class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="mainBlock ">

            <h1 class="title "
                data-aos="fade-up"
                data-aos-anchor-placement="center-bottom"
            >Отзывы наших клиентов</h1>

            <div class="center ">

              <div class="backButtons"
                   data-aos="zoom-in"
                   data-aos-delay="300"
              >
                <div class="backButtons_btn "
                @click="prewCard"
                >
                  <div class="circle ">
                    <i class="fas fa-chevron-left"></i>
                  </div>
                </div>
                <div class="backButtons_btn brr"
                     @click="nextCard">
                  <div class="circle ">
                    <i class="fas fa-chevron-right"></i>
                  </div>
                </div>
              </div>



<!--              slide main-->
              <div class="reviewCard"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="100"
              >
                <div class="reviewCard_top brr">
                  <div class="author brr">
                    <img class="author_avatar brr" :src="require(`../../../assets/images/5_reviews/${currentCard.image}`)" alt="avatar">
                    <p class="author_name">{{currentCard.name}}</p>
                    <p class="author_location"> (г. {{currentCard.city}})</p>
                  </div>
                  <img class="quotationMarks" src="../../../assets/images/5_reviews/quotationMarks.png"
                       alt="quotationMarks">
                </div>
                <div class="reviewCard_bottom brr">
                  <p class="reviewCard_text">
                    {{currentCard.text}}
                  </p>
                </div>
              </div>

            </div>
            <div class="bottom br"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="300"
            >
              <router-link class=" btn btn-primary mainBtn rotateLeft"
                           v-if="isWindowMobile == false"
                           tag="button"
                           :to="{name: 'complectation'}"
              >
                Что входит в комплектацию?
              </router-link>
              <a href="#6" class=" btn btn-primary mainBtn rotateLeft"
                 v-else-if="isWindowMobile == true"
              >Что входит в комплектацию?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
      currentCardIndex: 0,
      currentCard: {
        image: "avatar.png",
        name: "Анастасия",
        city: "Волгоград",
        text: "Заказала себе это устройство, так как мы с семьей (у меня муж и дочка 13 лет) любим отправляться на\n" +
            "                    отдых по нашим городам России. В поездках не редко бывает, что нужен интернет, чтобы посмотреть\n" +
            "                    новости или просто выйти на видео связь с родными. В этом нам помогает Рунет в коробке. Просто\n" +
            "                    вставили симку, и он работает, раздает всем окружающим wi-fi - очень удобно",
      },
      cards: [
        {
          image: "avatar.png",
          name: "Анастасия",
          city: "Волгоград",
          text: "Заказала себе это устройство, так как мы с семьей (у меня муж и дочка 13 лет) любим отправляться на\n" +
              "                    отдых по нашим городам России. В поездках не редко бывает, что нужен интернет, чтобы посмотреть\n" +
              "                    новости или просто выйти на видео связь с родными. В этом нам помогает Рунет в коробке. Просто\n" +
              "                    вставили симку, и он работает, раздает всем окружающим wi-fi - очень удобно",
        },
        {
          image: "dmitri.jpg",
          name: "Дмитрий",
          city: "Уфа",
          text: "Я работаю старшим прорабом в строительной компании и нам в передвижную бытовку интернет для связи с главным офисом. И что бы интернет у всех, кто находится в одном помещении нужен роутер, поэтому решил попробовать ваше устройство, не прогадал. Качество связи отличное, нас четверо человек и все пользуются одновременно интернетом. Спасибо.   ",
        },
        {
          image: "larisa.jpg",
          name: "Лариса",
          city: "Белгород",
          text: "Мы с мужем весной уезжаем на дачу и там находимся до поздней осени. Естественно ни о каком проводном интернете речи там быть не может, но всегда хочется пообщаться с близкими, посмотреть новости, да и так посмотреть передачи онлайн. Вот мы и берем с собой Рунет роутер. Пока муж смотрит планшет, я спокойно могу звонить по видеосвязи, все очень удобно и самое главное мобильно и удобно.",
        },
      ]
    }
  },
  components: {},
  computed: {},
  methods: {
    prewCard(){
      console.log("this.currentCardIndex:", this.currentCardIndex)
      if(this.currentCardIndex == 0){
        this.currentCardIndex = 2;
        this.cards.forEach((card , index, array)=>{
          if(index == this.currentCardIndex){
            this.currentCard = card
          }
        })
        return
      }
      if(this.currentCardIndex > 0){
        this.currentCardIndex = this.currentCardIndex - 1;
        this.cards.forEach((card , index, array)=>{
          if(index == this.currentCardIndex){
            this.currentCard = card
          }
        })
        return
      }


    },
    nextCard(){
      if(this.currentCardIndex == 2){
        this.currentCardIndex = 0;
        this.cards.forEach((card , index, array)=>{
          if(index == this.currentCardIndex){
            this.currentCard = card
          }
        })
        return
      }
      if(this.currentCardIndex >= 0){
        this.currentCardIndex = this.currentCardIndex + 1;
        this.cards.forEach((card , index, array)=>{
          if(index == this.currentCardIndex){
            this.currentCard = card
          }
        })
        return
      }
    }
  },
  watch: {},
  async mounted() {

  },
  async created() {

  }
}
</script>

<style scoped>
.background {
  background-image: url("../../../assets/images/3_forwhom/arrowhead.png"), url("../../../assets/images/3_forwhom/leftArrow.png"), url("../../../assets/images/3_forwhom/rightArrow.png"), url("../../../assets/images/3_forwhom/bg11.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center bottom, -10px 350px, 102% 100px, left -30px;
  background-size: 100% 100%, 40% 50%, 40% 80%, 100% 150%;
}

h1 {
  margin: 0;
}

.mainBlock {
  width: 1170px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  min-height: 100vh;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  line-height: 46px;
  color: #06225e;
  font-family: "Circe Rounded";
  background-image: url("../../../assets/images/3_forwhom/zagogul.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}


.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.backButtons {
  width: 1148px;
  max-width: 100%;
  height: 304px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backButtons_btn {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9793bd;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reviewCard {
  width: 803px;
  max-width: 70%;
  height: 358px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 5px solid #9693bd;

  position: absolute;
}

.reviewCard_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #f2f2f2;

}

.author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  top: -30px;
}

.author_avatar {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.author_name {
  font-size: 30px;
  line-height: 30px;
  color: #06225e;
  font-family: "Circe Rounded";
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 0;
}

.author_location {
  font-size: 20px;
  line-height: 30px;
  color: #06225e;
  font-family: "Circe Rounded";
  margin-bottom: 0;
}

.reviewCard_bottom {
  padding-top: 5%;
}

.reviewCard_text {
  font-size: 20px;
  line-height: 24px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*border-color: #e49e4b;*/
  /*border-radius: 5px;*/
  border: 0;
  padding: 10px 10px 10px 20px;

  font-size: 20px;
  color: #ffffff;
  font-family: "Circe Rounded";
  margin-left: -30px;
  width: 300px;
  background: rgb(48, 102, 210);
  background: linear-gradient(0deg, rgba(48, 102, 210, 1) 0%, rgba(71, 128, 241, 1) 100%);
}

.rotateLeft {
  transform: perspective(450px) rotateY(-25deg) !important;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .background {
    background-image: url("../../../assets/images/3_forwhom/arrowhead.png"), url("../../../assets/images/3_forwhom/leftArrow.png"), url("../../../assets/images/3_forwhom/rightArrow.png"), url("../../../assets/images/3_forwhom/bg11.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center bottom, -10px 350px, 102% 100px, left -50px;
    background-size: 100% 100%, 40% 50%, 40% 80%, 100% 150%;
  }

  .title {
    font-size: 32px;
    line-height: 40px;

    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 70px !important;
  }

  .reviewCard_top {
    justify-content: center;
  }

  .author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    position: relative;
    top: -30px;
  }

  .quotationMarks {
    display: none;
  }

  .backButtons {
    width: 1148px;
    max-width: 100%;
    height: 654px;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .reviewCard {
    width: 803px;
    max-width: 75%;
    height: 708px;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
    background-color: #ffffff;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 5px solid #9693bd;
    position: absolute;
  }

  .backButtons_btn[data-v-6de1921a] {
    width: 12%;
  }
}
</style>