<template>
  <div id="2" class="background">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 br">
          <div class="mainBlock">
            <div class="left ">
              <div
                  data-aos="fade-right"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-delay="300"
              >
                <img class="mainImg" src="../../../assets/images/2_recommendation/familyCar.png" alt="familyCar"

                >
              </div>
              <img src="../../../assets/images/2_recommendation/message.png" alt="message" class="message"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="400"
              >
            </div>

            <div class="right ">
              <h3 class="title"
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
              >Бери с собой в поездку!</h3>
              <h2 class="subtitle"
                  data-aos="fade-up"
                  data-aos-anchor-placement="center-bottom"
                  data-aos-delay="200"
              >
                РУНЕТ в коробке
              </h2>
              <p class="text"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="300"
              >
                Рунет в коробке –профессиональный российский GSM роутер. Предназначен для обеспечения проводного и
                беспроводного доступа в интернет с помощью встроенного промышленного <strong>3G\4G модуля</strong>,
                используя
                SIM-карту от
                любого оператора.
              </p>
              <p class="text"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="300"
              >
                Принимает интернет и усиливает его прием в местах со слабым сигналом или отдаленных от вышек связи, а
                также в
                движении <strong>на скорости до 120 км в час</strong>. Раздает WI-FI сразу нескольким устройствам.
                Используется на даче,
                загородном доме, автомобиле, автобусе, а также в любых местах со слабым сигналом интернет.
              </p>

              <div data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="400"
              >
                <router-link class=" btn btn-primary mainBtn rotateRight"
                             v-if="isWindowMobile == false"
                             tag="button"
                             :to="{name: 'forwhom'}"
                >
                  А для кого подойдёт?
                </router-link>
                <a href="#3" class=" btn btn-primary mainBtn rotateRight"
                   v-else-if="isWindowMobile == true"
                >
                  А для кого подойдёт?
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import linePoints from '@/components/linePoints'
import AOS from "aos";

export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {
    linePoints
  },
  computed: {},
  methods: {},
  watch: {},
  async mounted() {
    await AOS.init()
  },
  async created() {
    await AOS.init()
  }
}
</script>

<style scoped>
.container {
  width: 1800px;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.background {
  background-image: url("../../../assets/images/2_recommendation/bg2.png"), url("../../../assets/images/2_recommendation/bg1.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center top;
  background-size: 100% 100%, 100% 100% !important;
}

.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 50px;
  position: relative;
}

.right {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  padding: 10px 60px 10px 20px;

  font-size: 24px;
  color: #ffffff;
  font-family: "Circe Rounded";
  margin-left: 10px;
  margin-bottom: 35px;
  background: rgb(48, 102, 210);
  background: linear-gradient(0deg, rgba(48, 102, 210, 1) 0%, rgba(70, 127, 240, 1) 100%);
}

.rotateRight {
  transform: perspective(450px) rotateY(25deg) !important;
}

.mainImg {
  width: 90%;
  height: auto;
  /*margin-bottom: 20px;*/
}

.message {
  position: absolute;
  top: 5%;
  right: 5%;
}

h3 {
  margin: 0;
}

.title {
  font-size: 32px;
  line-height: 70px;
  color: #06225e;
  font-family: "Circe Rounded";
}

.subtitle {
  font-size: 62px;
  line-height: 70px;
  color: #06225e;
  font-family: "Circe Rounded";
}


.text {
  font-size: 22px;
  line-height: 24px;
  color: #06225e;
  font-family: "Circe Rounded";
}



@-webkit-keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1540px) and (max-width: 3600px) {
  .container{
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .mainBlock{
    padding-right: 10%;
  }
  .left {
    width: 65%;
    padding-top: 50px;
    position: relative;
  }
  .message {
    top: 15%;
    right: 10%;
    width: 25%;
  }

  .mainImg {
    height: 80vh;
    width: auto;
  }
  .title {
    font-size: 42px;
    line-height: 70px;
    color: #06225e;
    font-family: "Circe Rounded";
  }

  .subtitle {
    /*margin-bottom: 65px;*/
    font-size: 72px;
    line-height: 70px;
    color: #06225e;
    font-family: "Circe Rounded";
  }
  .text {
    font-size: 32px;
    line-height: 40px;
    color: #06225e;
    font-family: "Circe Rounded";
  }

}

@media screen and (min-width: 601px) and (max-width: 1499px) {

  .background {
    background-position: center bottom, center bottom;
    background-size: 100% 80%, 100% 100%;
  }


}

@media screen and (min-width: 601px) and (max-width: 3500px) {

  .mainBlock {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    min-height: calc(100vh - 100px);
  }
}

@media screen and (min-width: 1800px) and (max-width: 3500px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mainBlock {
    justify-content: center;
  }
}

@media screen and (min-width: 1500px) and (max-width: 3500px) {


  .background {
    background-position: center bottom, center bottom;
    background-size: 45% 80%, 100% 100%;
  }
}

@media screen and (min-width: 250px) and (max-width: 600px) {

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .background {
    background-position: center bottom, center bottom;
    background-size: 400% 100%, 100% 100%;
  }

  .mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 100px;
  }

  .left {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .right {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px;
  }

  .mainImg {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }

  .subtitle {
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 10px;
  }

  .mainBtn {
    font-size: 24px;
    color: #ffffff;
    font-family: "Circe Rounded";
    margin: 15px auto;
    margin-left: 11%;
  }

  .text {
    font-size: 18px;
    line-height: 22px;
    color: #06225e;
    font-family: "Circe Rounded";
  }
}

</style>