<template>
  <div id="4" class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 br">
          <div class="mainBlock br">

            <h1 class="title br"
                data-aos="fade-up"
                data-aos-anchor-placement="center-bottom"
            >Преимущества Рунет в коробке</h1>

            <div class="center br">
              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="100"
              >
                <img class="card_image" src="../../../assets/images/4_advantages/imgWiFi.png" alt="card_image">
                <div class="card_wrapper">
                  <h2 class="card_title">Усиливает прием сигнала</h2>
                  <p class="card_text">
                    Принимает интернет и усиливает его прием в местах со слабым сигналом или отдаленных от вышек связи
                  </p>
                </div>
              </div>

              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="150"
              >
                <img class="card_image" src="../../../assets/images/4_advantages/imgSpeed.png" alt="card_image">
                <div class="card_wrapper">
                  <h2 class="card_title">
                    Одновремеменное использование
                  </h2>
                  <p class="card_text">
                    Принимает и раздает Wi-Fi интернет сразу на несколько устройств, что позволяет пользоваться
                    комфортно всей семьей

                  </p>
                </div>
              </div>

              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="200"
              >
                <img class="card_image br" src="../../../assets/images/4_advantages/imgNout.png" alt="card_image">
                <div class="card_wrapper br">
                  <h2 class="card_title br">
                    Работает при движении на высокой скорости
                  </h2>
                  <p class="card_text br">
                    Обеспечивает беспроводным интернетом даже в движении на скорости до 120 км в час
                  </p>
                </div>
              </div>

              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="250"
              >
                <img class="card_image" src="../../../assets/images/4_advantages/imgBox.png" alt="card_image">
                <div class="card_wrapper">
                  <h2 class="card_title">
                    Универсальность и простота в использовании
                  </h2>
                  <p class="card_text">
                    Работает прям с коробки, не требует каких-либо сложных настроек и может обеспечивать Wi-Fi
                    интернетом практически в любом месте
                  </p>
                </div>
              </div>

            </div>
            <div class="bottom br"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="350"
            >
              <router-link class=" btn btn-primary mainBtn rotateLeft"
                           v-if="isWindowMobile == false"
                           tag="button"
                           :to="{name: 'reviews'}"
              >
                Отзывы наших клиентов
              </router-link>
              <a href="#5" class=" btn btn-primary mainBtn rotateLeft"
                 v-else-if="isWindowMobile == true"
              > Отзывы наших клиентов</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {},
  computed: {},
  methods: {},
  watch: {},
  async mounted() {

  },
  async created() {

  }
}
</script>

<style scoped>
.background {
  background-image: url("../../../assets/images/4_advantages/bg1.png");
  background-repeat: no-repeat;
  background-position: 102% -50px;
  background-size: 100% 150%;
}

h1 {
  margin: 0;
}

.mainBlock {
  width: 1170px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  min-height: 100vh;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  line-height: 46px;
  color: #06225e;
  font-family: "Circe Rounded";
  background-image: url("../../../assets/images/3_forwhom/zagogul.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 460px;
  height: 191px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;

  border-bottom: 5px solid #9ebe98;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 12px 20px;
}

.card_image {
  margin: 0 auto;
}

.card_wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_title {
  font-size: 24px;
  font-weight: 600;
  color: #06225e;
  font-family: "Circe Rounded";
  /*text-align: center;*/
  position: relative;
}

.card_text {
  font-size: 18px;
  line-height: 16px;
  color: #06225e;
  font-family: "Circe Rounded";
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*padding: 0 7% 7% 0;*/
  margin: 0;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*border-color: #e49e4b;*/
  /*border-radius: 5px;*/
  border: 0;
  padding: 10px 10px 10px 20px;

  font-size: 20px;
  color: #ffffff;
  font-family: "Circe Rounded";
  margin-left: -30px;
  width: 300px;
  background: rgb(106,156,95);
  background: linear-gradient(0deg, rgba(106,156,95,1) 0%, rgba(143,189,131,1) 100%);
}

.rotateLeft {
  transform: perspective(450px) rotateY(-25deg) !important;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .title {
    font-size: 32px;
    line-height: 40px;
    padding: 15px 0;
    text-align: center;
  }
  .card {
    height: 230px;
    margin: 12px 0;
  }
  .card_image {
    margin: 0 auto;
    width: 35%;
  }
  .card_title {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
  .card_text {
    font-size: 16px;
    padding: 5px;
  }
}
</style>