<template>
  <div id="8" class="background">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 br">
          <div class="mainBlock br">

            <h1 class="title br"
                data-aos="fade-up"
                data-aos-anchor-placement="center-bottom"
            >Как получить Рунет в коробке?</h1>

            <div class="center br">
              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="100"
              >
                <img class="card_image" src="../../../assets/images/8_howtoget/button.png" alt="card_image">
                  <h2 class="card_title">Шаг 1</h2>
                  <p class="card_text">
                    Оставьте свои данные на сайте для связи
                  </p>
              </div>

              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="150"
              >
                <img class="card_image" src="../../../assets/images/8_howtoget/phone-call.png" alt="card_image">
                <h2 class="card_title">Шаг 2</h2>
                <p class="card_text">
                  В ближайшее время вам перезвонит менеджер
                </p>
              </div>

              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="200"
              >
                <img class="card_image" src="../../../assets/images/8_howtoget/list.png" alt="card_image">
                <h2 class="card_title">Шаг 3</h2>
                <p class="card_text">
                  Обсудите условия заказа и время доставки
                </p>
              </div>

              <div class="card"
                   data-aos="fade-up"
                   data-aos-anchor-placement="center-bottom"
                   data-aos-delay="250"
              >
                <img class="card_image" src="../../../assets/images/8_howtoget/box.png" alt="card_image">
                <h2 class="card_title">Шаг 4</h2>
                <p class="card_text">
                  В назначенное время и день получите готовый товар
                </p>
              </div>



            </div>
            <div class="bottom br"
                 data-aos="fade-up"
                 data-aos-anchor-placement="center-bottom"
                 data-aos-delay="350"
            >
              <router-link class=" btn btn-primary mainBtn rotateRight"
                           v-if="isWindowMobile == false"
                           tag="button"
                           :to="{name: 'answers'}"
              >
                Остались ещё вопросы?
              </router-link>
              <a href="#9" class=" btn btn-primary mainBtn rotateRight"
                 v-else-if="isWindowMobile == true"
              >Остались ещё вопросы?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "mainPage",
  // metaInfo: {
  //   title: '',
  //   titleTemplate: '',
  // },
  props: {
    isWindowMobile: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      title: "",
    }
  },
  components: {},
  computed: {},
  methods: {},
  watch: {},
  async mounted() {

  },
  async created() {

  }
}
</script>

<style scoped>
.background {
  background-image: url("../../../assets/images/4_advantages/bg1.png");
  background-repeat: no-repeat;
  background-position: 102% -50px;
  background-size: 100% 150%;
}

h1 {
  margin: 0;
}

.mainBlock {
  width: 1170px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  min-height: 100vh;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  line-height: 46px;
  color: #06225e;
  font-family: "Circe Rounded";
  background-image: url("../../../assets/images/3_forwhom/zagogul.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.card {
  width: 20%;
  height: 256px;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 12.5px rgba(52, 49, 71, 0.15));
  background-color: #ffffff;

  border-bottom: 5px solid #9ebe98;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0  1.5%;
  padding-top: 10%;
  text-align: center;
}

.card_image {
  margin: 0 auto;
  position: absolute;
  top: -15%;

}

.card_title {
  font-size: 24px;
  font-weight: 600;
  color: #06225e;
  font-family: "Circe Rounded";
  text-align: center;
  position: relative;
}

.card_text {
  font-size: 18px;
  line-height: 20px;
  color: #06225e;
  font-family: "Circe Rounded";
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*padding: 0 7% 7% 0;*/
  margin: 0;
}

.mainBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*border-color: #e49e4b;*/
  /*border-radius: 5px;*/
  border: 0;
  padding: 10px 10px 10px 10px;

  font-size: 20px;
  color: #ffffff;
  font-family: "Circe Rounded";
  margin-left: -30px;
  width: 300px;
  background: rgb(106,156,95);
  background: linear-gradient(0deg, rgba(106,156,95,1) 0%, rgba(143,189,131,1) 100%);
}

.rotateRight {
  transform: perspective(450px) rotateY(25deg) !important;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .title {
    font-size: 32px;
    line-height: 40px;
    padding: 15px 0;
    text-align: center;
  }

  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .card {
    width: 250px;
    height: 210px;
    margin: 22px 0;

    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
  }
  .mainBtn{
    margin-left: 12%;
  }
  .bottom {
    padding-bottom: 20px;
    padding-top: 40px;
  }

}
</style>